 Css da nave de todas as paginas
* {
    list-style: none;
    text-decoration: none;
    font-family:'Arimo', sans-serif;
}

a {
  text-decoration: none;
  font-family: 'Fjalla One', sans-serif;
}

a:hover {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
}

p , h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: black;
}

h3 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 3em;
  color: black;
}

/* NAVBAR */

nav {
  background-color: black;
  min-height: 16vh;
  text-transform: uppercase;
  padding-right: 5px;
  }   
  
  .navbar-dark .navbar-nav .nav-link {
      color: white;
      text-decoration: none;
      font-family: 'Fjalla One', sans-serif;
  }

  .navbar-dark .navbar-nav .nav-link:hover {
      color: white; 
      /* background-color: #800724; */
      
  }
       
  .nav-logo {
      width: 50%;
  }
  
  .nav-logo img {
      width: 120px;
  }
/* css da home */
#roteiro{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}
#acerteoalvo{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}
#salaroteirista{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}
#producoes{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}
.button {
  border: 2px solid white;
  border-radius: 15px;
  text-align: center;
  background-color: #000000;
}

.btn {
    padding-top: 15px;
}

.btn a {
  color: white;
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  padding: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

#roteiro .btn a:hover {
  color: white;
  background-color: black; 
  transition: ease-in 0.3s;
}

#acerteoalvo .btn a:hover {
  color: white;
  background-color: black; 
  transition: ease-in 0.3s;
}

#salaroteirista .btn a:hover {
  color: white;
  background-color: black; 
  transition: ease-in 0.3s;
}
#producoes .btn a:hover {
  color: white;
  background-color: black; 
  transition: ease-in 0.3s;
}
/* PARALLAX */

#roteiro .parallax {
  background-image: url('../img/acerteoalvo2.jpg');
  min-height: 400px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed ; 
   
}
 
#roteiro .parallax-content > p {
  font-family: 'Nunito', sans-serif;
  color: black;
  text-transform: none;
}

/* PARALLAX SALAROTEIRISTA */
#salaroteirista .parallax-sarau {
  background-image: url('../img/quemsomos.jpeg');
  min-height: 400px;
  background-attachment: fixed;
  background-size: cover;
}

#atuacao .parallax-content-atuacao > p {
  font-family: 'Nunito', sans-serif;
 color: white;
 text-transform: none;
}
/* PARALLAX ACERTE O ALVO */

#acerteoalvo .parallax-atuacao {
  background-image: url('../img/oqueeroteiro.jpg');
  min-height: 400px;
  background-attachment: fixed;
  background-size: cover;
}

#atuacao .parallax-content-atuacao > p {
  font-family: 'Nunito', sans-serif;
 color: white;
 text-transform: none;
}
/* PARALLAX PRÉ PRODUÇOES */
#producoes .parallax-pro {
  background-image: url('../img/sinal\ vermelho.jpg');
  min-height: 500px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed ; 
  
  
}
#sarau .parallax-content-producao > p {
 font-family: 'Nunito', sans-serif;
 color: white;
 text-transform: none;
}

#sobreroteiro{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}
.texto{
  text-align: center; 
}
#acerte{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}
#acerte img{
 width: 100%;
 height: 400px;
}
#textroteirista{
  margin: 20px;
  display: flex;
  align-items: center;
 }

 #producoes1 img{
  width: 300px;
  height: 400px;
 }
 #producoes1{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  align-items: center;
 }
 .cris{
  display: flex;
  flex-direction: column;
  margin: 20px;
 }
 .anderson{
  display: flex;
  flex-direction: column;
  margin: 20px;
 }
 .paty{
  display: flex;
  flex-direction: column;
  margin: 20px;
 }
 #textroteirista p{
  margin-top: 120px;
  color: #000000;
 }
 #textroteirista img{
  width: 300px;
  height: 220px;
  margin-top: 20px;
  padding: 12px;
  display: flex;
  align-items: center;
 }
 #intimos img{
  width: 33%;
  margin:22px;
 
 }
 #intimos{
   margin: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
/* css footer */
footer{
  background-color: #000000;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Fjalla One', sans-serif;
  padding-top: 9px;
}

li {
  align-items: left;
  margin-bottom: 10px;
  list-style: none;
}

.lista ul li {
  color: white;
}
.fbInsta {
  padding-left: 25%;
}
.logo-footer{
  text-align: center;
}
.logo-footer  img {
  width: 120px;
}

.lista > li {
  color: #f4c70c;
}

.lista a{
  color: white;
  text-decoration: none;
}

.rodape1 a {
  text-decoration: none;
  color: white;   
}

.rodape1  a:hover {
  /* background-color: #800724; */
  padding: 2px 0;
}
/* MEDIAQUERY==============================*/
@media (max-width:750px) {
  .logo-footer  img {
      width: 140px;
      padding-left: 30px;
  }
  #roteiro .parallax {
    background-image: url('../img/acerteoalvo2.jpg');
    min-height: 163px;
    /* background-size: cover; */
    background-attachment: scroll;
  }
  #textroteirista p{
    margin-top: 50px;
    color: #000000;
   }
   #intimos img{
    width: 90%;

   }
  #salaroteirista .parallax-sarau {
    background-image: url('../img/quemsomos.jpeg');
    min-height: 163px;
    background-attachment: scroll;
    background-size: cover;
  }
  #acerteoalvo .parallax-atuacao {
    background-image: url('../img/oqueeroteiro.jpg');
    min-height: 163px;
    background-attachment: scroll;
    background-size: cover;
  }

  #producoes .parallax-pro {
    background-image: url('../img/sinal\ vermelho.jpg');
    min-height: 163px;
    background-attachment: scroll; 
    background-size: cover;
  }
  #textroteirista img{
    width: 220px;
    height: 180px;
    margin-top: 10px;
  align-items: center;
   }
   #textroteirista {
    margin: 71px;
    display: flex;
    flex-direction: column;
   }
   
  #acerte img {
    height: 200px;
  }
  .cris {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    
   }
  #producoes1 img{
    margin: 20px;

   }
   .paty {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
   }
   .anderson{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
   }
   
  p {
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    color: black;
  }
  h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
  }

  footer {
      flex-direction: column;
      text-align: center;
      width: 100%;  
      padding-right: 11%;

  }
  footer ul{
    margin-top: 13px;
    margin-left: 20px;
  }
  #roteiro .parallax {
      background-position: unset;
  }
  .arrow-up img {
      left: 0;
}
.fbInsta {
 padding-right: 35%;
  }
}