/* Css da nave de todas as paginas*/
* {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    list-style: none;
}

#links a {
    font-family: 'Fjalla One', sans-serif;
    color: white;
    list-style: none;
    text-decoration: none;
    align-items: center;   
    padding: 13px;
}

nav {
    background-color: black;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around; 
    margin: -16px;
    
}   
.logo{
    width: 120px;
}

nav ul  {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;
}

#apresentacao{ 
    display: flex;
    margin: 100px; 
    text-decoration: none;
    list-style: none;
    color: black;
}
#apresentacao p {
    font-size: 18px;
}

#apresentacao h1 {
     font-size: 30px;
    text-align: center  
}

#apresentacao img {
    width: 300px;
}

#dramaturgo img {
    width: 300px;
    margin-bottom: 40px;
}
.textos{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 45px;
    margin-top: -26px;
}

 
.sobreroteiro{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sobreroteiro img {
    width: 400px;
    margin: 60px;
      
}
footer {
    background-color: black;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around; 
    margin: -16px; 
}
footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer ul a {
    padding: 12px;
}
